#imageContainer{
  width: 300px;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  justify-content: center;
}
.image{
  margin: 1rem;
}
.imageSelection{
  border: 4px #5290F6 solid;
  transition: .1s ease-in;
}
p{
  margin: 0;
  padding: 0;
  margin-left: 1rem;
}
#top{
  display: flex;
  justify-content: center;
  flex-direction: column;
  width:18rem;
  margin: 0 auto;
  margin-top:4rem;
}
h3{
  font-weight: lighter;
}
button{
  background-color:#53A351;
  border-radius: .5rem;
  color:white;
  padding:1rem;
  font-size: 1rem;
  margin-bottom:1rem;
}
